.app-bar {
	--app-bar: var(--primary);
	--on-app-bar: var(--on-primary);
	display: flex;
	align-items: center;
	padding-left: 4px;
	padding-right: 8px;
	height: 56px;
	background: var(--app-bar);
	color: var(--on-app-bar);

	@media (min-width: 768px) {
		padding-left: 12px;
		padding-right: 16px;
		height: 64px;
	}

	& > .button:first-child {
		margin-right: 20px;
		cursor: pointer;

		@media (min-width: 768px) {
			display: none;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 500;
		color: inherit;
		text-decoration: none;
	}

	&__spacer {
		flex-grow: 1;
	}

	&__desktop {
		display: none;

		@media(min-width: 768px) {
			display: flex;
		}
	}

	&__mobile {
                display: flex;
		> .button:not(.button--text):first-child {
			margin-left: 8px;
		}
	}

	.button {
		--button: var(--on-app-bar);
		--on-button: var(--app-bar);
		
		&--raised {
			--button: var(--on-app-bar);
			--on-button: var(--app-bar);
		}
	}
}
