//padding 8 12

.app-bar {
	--app-bar: var(--primary);
	--on-app-bar: var(--on-primary);
	display: flex;
	align-items: center;
	padding: 4px;
	background: var(--app-bar);
	color: var(--on-app-bar);

	@media (min-width: 768px) {
		padding: 8px 12px;
	}

	& > .button:first-child {
		margin-right: 20px;
		cursor: pointer;
	}

	&__title {
		font-size: 20px;
		font-weight: 500;
		color: inherit;
		text-decoration: none;
	}

	&__spacer {
		flex-grow: 1;
	}

	.button {
		--button: --on-app-bar;
		--on-button: --app-bar;
	}
}