.app-drawer {
	--app-drawer: var(--primary);
	--on-app-drawer: var(--on-primary);
	--drawer-transition-speed: 0.33s;

	&,
	&__scrim {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
	}

	width: 300px;
	background: var(--surface);
	color: var(--on-surface);
	will-change: transform;
	transition: transform var(--drawer-transition-speed);
	transform: translate3D(-100%, 0, 0);
	z-index: 99999;

	&--open {
		transform: translate3D(0%, 0, 0);
	}

	&__scrim {
		right: 0;
		opacity: 0;
		will-change: opacity;
		transition: opacity var(--drawer-transition-speed);
		cursor: pointer;
		z-index: 99999;

		&--open {
			background: black;
			opacity: 0.5;
		}
	}

	&> *:not(.list) {
		margin-inline: 16px;
	}
}
