.app-drawer {
	--app-drawer: var(--primary);
	--on-app-drawer: var(--on-primary);

	&,
	&__scrim {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
	}

	width: 300px;
	box-shadow: rgb(0 0 0 / 20%) 0px 8px 10px -5px,
		rgb(0 0 0 / 14%) 0px 16px 24px 2px, rgb(0 0 0 / 12%) 0px 6px 30px 5px;
	background: var(--surface);
	color: var(--on-surface);
	will-change: transform;
	transition: transform 0.33s;
	transform: translate3D(-110%, 0, 0);
	z-index: 99999;

	&--open {
		transform: translate3D(0%, 0, 0);
	}

	&__scrim {
		right: 0;
		opacity: 0;
		will-change: opacity;
		transition: opacity 0.33s;
		cursor: pointer;
		z-index: 99999;

		&--open {
			background: black;
			opacity: 0.33;
		}
	}

	& > *:not(.list) {
		margin-left: 16px;
		margin-right: 16px;
	}
}
