.form__field > *,
.material-input {
	width: 100%;
}

.material-input {
	--valid: green;
	--invalid: red;
	--padding: 0.5rem;
	--border-width: 1px; // don't modify
	--border-color: currentColor;
	--border-radius: 4px;
	height: 48px;
	max-height: 48px;
	min-height: 48px;
	position: relative;
	input,
	select,
	textarea {
		appearance: none;
		display: block;
		width: calc(100% - var(--padding) * 2);
		height: 48px;
		width: 100%;
		border-radius: var(--border-radius);
		border: none;
		font-size: 16px;
		padding: 0 var(--padding);
		margin: 0;
		background: transparent;
		&:focus {
			outline: none;
		}
	}
	select {
		width: 100%;
		color: inherit;
		~ i {
			content: '';
			display: block;
			height: 6px;
			width: 6px;
			position: absolute;
			right: 12px;
			top: calc(50% - 4px);
			transform: rotate(45deg);
			background: linear-gradient(
				to bottom right,
				transparent 0%,
				transparent 50%,
				currentColor 50%,
				currentColor 100%
			);
		}
	}
	&-outline {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		pointer-events: none;
		&:before,
		&:after {
			content: '';
			width: var(--padding);
			border: var(--border-width) solid var(--border-color);
		}
		&:before {
			border-right: none;
			border-top-left-radius: var(--border-radius);
			border-bottom-left-radius: var(--border-radius);
		}
		&:after {
			flex-grow: 1;
			border-left: none;
			border-top-right-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
		}
		label {
			display: flex;
			align-items: center;
			border-top: var(--border-width) solid var(--border-color);
			border-bottom: var(--border-width) solid var(--border-color);
			span {
				will-change: transform;
				transition: transform 0.25s;
			}
		}
	}
	input:focus + &-outline,
	input:not(:placeholder-shown) + &-outline,
	textarea:focus + &-outline,
	textarea:not(:placeholder-shown) + &-outline,
	select:focus + &-outline,
	select[data-active] + &-outline,
	select[data-active]:focus + &-outline {
		--border-color: var(--primary);
		label {
			border-top: var(--border-width) solid transparent;
			font-size: 12px;
			padding-left: 0.5em;
			padding-right: 0.5em;
			span {
				position: relative;
				transform: translatey(-24px);
			}
		}
	}
	input:focus + &-outline,
	textarea:focus + &-outline,
	select:focus + &-outline, 
	select[data-active]:focus + &-outline {
		--border-width: 2px;
		label {
			color: var(--primary);
		}
	}
	&--textarea {
		display: grid;
		height: auto;
		max-height: none;
		&:after {
			content: attr(data-replicated-value) ' ';
			white-space: pre-wrap;
			visibility: hidden;
		}
		label {
			align-items: flex-start;
			padding-top: 14px;
		}
		textarea {
			resize: none;
			min-height: 7.25em;
			max-height: none;
			height: auto;
			overflow-y: auto;
		}
		&:after,
		textarea {
			font: inherit;
			grid-area: 1 / 1 / 2 / 2;
			padding: 14px var(--padding);
		}
	}
	select[data-active] + &-outline {
		--border-color: currentColor;
		--border-width: 1px;
	}
	input:not(:focus):not(:placeholder-shown):valid + .material-input-outline,
	textarea:not(:focus):not(:placeholder-shown):valid + .material-input-outline {
		--border-color: var(--valid);
		color: var(--valid);
	}
	input:not(:focus):invalid + .material-input-outline {
		--border-color: var(--invalid);
		color: var(--invalid);
	}
	input:not(:focus):invalid,
	input:not(:focus):invalid + .material-input-outline {
		will-change: transform;
		animation: headShake 1s;
		animation-timing-function: ease-in-out;
	}
}

@keyframes headShake {
	0% {
		transform: translateX(0);
	}

	6.5% {
		transform: translateX(-6px);
	}

	18.5% {
		transform: translateX(5px);
	}

	31.5% {
		transform: translateX(-3px);
	}

	43.5% {
		transform: translateX(2px);
	}

	50% {
		transform: translateX(0);
	}
}
