.list {
	list-style: none;
	margin: 0;
	padding: 8px 0;

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding-inline: 16px;
		height: 48px;

		&--two-line {
			height: 72px;
		}

		&__icon {
			margin-inline-end: 32px;
			svg {
				height: 24px;
				width: 24px;
			}
		}

		&__avatar {
			display: block;
			margin-inline-end: 16px;
			border-radius: 50%;
		}

		a {
			user-select: none;
			text-decoration: none;
			color: inherit;
		}

		&:hover {
			a:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: currentColor;
				opacity: 0.08;
			}
		}

		&:active {
			a:before {
				opacity: 0.16;
			}
		}

		&__text {
			letter-spacing: 0.15px;
			line-height: 24px;
		}
		&__secondary__text {
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: normal;
			opacity: 0.6;
		}
	}

	.card__content & {
			margin-inline: -16px;

			&:last-child {
				margin-bottom: -8px;
			}
	}
}
