.list {
	list-style: none;
	margin: 0;
	padding: 8px 0;

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 16px;
		height: 48px;

		&--two-line {
			height: 72px;
		}

		&--avatar-icons {
			height: 56px;
		}

		&__icon {
			margin-right: 32px;
			svg {
				height: 24px;
				width: 24px;
			}

			.list__item--avatar-icons & {
				padding: 8px;
				margin-right: 16px;
				background: var(--primary);
				color: var(--on-primary);
				border-radius: 50%;
			}
		}

		&__avatar {
			display: block;
			margin-right: 16px;
			border-radius: 50%;
			height: 40px;
			width: 40px;
		}

		a {
			user-select: none;
			text-decoration: none;
			color: inherit;
		}

		&:hover {
			a:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: var(--primary);
				opacity: 0.08;
			}
		}

		&:active {
			a:before {
				opacity: 0.16;
			}
		}

		&__text-wrapper {
			overflow: hidden;
		}

		&__text {
			letter-spacing: 0.15px;
			line-height: 24px;
		}

		&__secondary__text {
			font-size: 14px;
			letter-spacing: 0.25px;
			line-height: normal;
			opacity: 0.6;
		}
		&__text,
		&__secondary__text {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.card__content & {
			margin-inline: -16px;

			&:last-child {
				margin-bottom: -8px;
			}
	}
}
