main {
	display: grid;
	grid-template-columns: var(--gutter) repeat(12, 1fr) var(--gutter);
	gap: 24px 16px;
	--gutter: minmax(0, calc(50vw - 624px));

	@media (min-width: 640px) {
		--gutter: minmax(5vw, calc(50vw - 624px));
	}

	> * {
		grid-column: 2 / span 12;
	}
}
