main {
	--vertical-margins: 2rem;
	> :not(.full-width):not(.spacer) {
		margin: var(--vertical-margins) auto;
		max-width: calc(100% - 1rem);
		@media (min-width: 640px) {
			max-width: calc(100% - 2rem);
		}
		@media (min-width: 768px) {
			max-width: 90vw;
		}
		@media (min-width: 1333px) {
			max-width: 1200px;
		}
		&.link.button,
		&.dialog {
			display: block;
		}
	}
}
