body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main,
article {
	flex-grow: 1;
	padding: 24px 16px;

	@media (min-width: 640px) {
		padding: 24px 5vw;
	}
	@media (min-width: 1320px) {
		padding: 24px calc(50vw - 600px);
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 24px 16px;

	> * {
		grid-column: auto / span 12;

		@each $breakpoint, $value in $breakpoints {
			@media (min-width: $value) {
				grid-column: auto / span var(--#{unquote($breakpoint)}, 12);
			}
		}
	}
}

body.dev:before {
	display: block;
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	padding: 8px 12px;
	color: white;
	border-radius: 999px;
	background: #09b3af;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	z-index: 999;
	@each $breakpoint, $value in $breakpoints {
		@media (min-width: $value) {
			content: 'breakpoint: #{unquote($breakpoint)}';
		}
	}
}
