.section {
	--section: var(--primary);
	--on-section: var(--on-primary);
	background: var(--section);
	color: var(--on-section);

	.button {
		--button: var(--on-section);
		--on-button: var(--section);
	}

	@mixin negativMargins {
		margin-left: -16px;
		margin-right: -16px;

		@media (min-width: 640px) {
			margin-left: -5vw;
			margin-right: -5vw;
		}
		@media (min-width: 1320px) {
			margin-left: calc(-1 * (50vw - 600px));
			margin-right: calc(-1 * (50vw - 600px));
		}
	}

	.grid &--full-width {
		@include negativMargins();
	}

	&--contained {
.grid{		padding: 24px 16px;

		@media (min-width: 640px) {
			padding: 24px 5vw;
		}
		@media (min-width: 1320px) {
			padding: 24px calc(50vw - 600px);
		}}
	}

	&--swoop {
		--swoop-curve: 16vw;
		margin-top: -24px;
		margin-bottom: calc(var(--swoop-curve) - 24px);
		border-bottom-right-radius: var(--swoop-curve);

		@media (min-width: 640px) {
			--swoop-curve: 8vw;
		}

		.section__top {
			position: relative;
			height: var(--swoop-curve);
			background: var(--section);

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: var(--background);
				border-bottom-right-radius: var(--swoop-curve);
			}
		}
	}
}
