.section {
	--section: var(--primary);
	--on-section: var(--on-primary);
	--safe-width: calc(90vw - (100vw - 100%));
	background: var(--section);
	color: var(--on-section);
	padding-top: 24px;
	padding-bottom: 24px;

	.button {
		--button: var(--on-section);
		--on-button: var(--section);
	}

	.grid &--full-width {
		margin-left: -16px;
		margin-right: -16px;
	
		@media (min-width: 640px) {
			margin-left: -5vw;
			margin-right: -5vw;
		}
		@media (min-width: 1320px) {
			margin-left: calc(-1 * (50vw - 600px));
			margin-right: calc(-1 * (50vw - 600px));
		}
	}

	&--contained {
		padding-left: 16px;
		padding-right: 16px;

		@media (min-width: 640px) {
			padding-left: 5vw;
			padding-right: 5vw;
		}

		@media (min-width: 1320px) {
			padding-left: calc(50vw - 600px);
			padding-right: calc(50vw - 600px);
		}
	}

	&--swoop {
		--swoop-curve: 64px;
		position: relative;
		margin-top: 5vw;
		margin-bottom: 5vw;
		border-bottom-right-radius: var(--swoop-curve);
		padding-top: 24px;
		padding-bottom: 24px;

		@media (min-width: 640px) {
			--swoop-curve: 10vw;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: calc(var(--swoop-curve) * -1);
			right: 0;
			width: var(--swoop-curve);
			height: var(--swoop-curve);
			z-index: -1;
		}

		&:before {
			background: inherit;
		}

		&:after {
			background: var(--background);
			border-bottom-right-radius: var(--swoop-curve);
		}
	}
}
