---
export async function getStaticPaths() {
  const key = "BZX4R4Dr8Y6rnegRb9YaPwtt"
  const cacheBuster = new Date().getMilliseconds()
  const data = await fetch(`https://api.storyblok.com/v1/cdn/stories/?token=${key}&cv=${cacheBuster}`)
    .then(response => response.json());

  return data.stories.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page }
    };
  });
}

const {page} = Astro.props;
---
<body>
  <h1>{page.name}</h1>
  <style lang="scss" global>
    @import "../css/base.scss";
  </style>
</body>