---
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Component from '../components/Component.astro';
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<style>
			body {
				display: grid;
				place-items: center;
				height: 100vh;
				font-family: sans-serif;
			}
			img { display: block; }
		</style>
	</head>
	<body>
		<Card
			props={{
				outlined: false,
				style: "width: 350px"
			}}
		>
			<img src="//picsum.photos/800/450" slot="media"/>
			<Button
				props = {{
					label: "Button",
					icon: '<svg width="24" height="24" viewBox="0 0 24 24"><path d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" /></svg>'
				}}
				slot="actions"
			/>
			<Button props={{label: 'Button'}} slot="actions"/>
			<Component component="Button" props={{label: 'Test'}} slot="actions"/>
		</Card>
	</body>
</html>
