---
const { content } = Astro.props
const image = content.image.startsWith("public")
	? content.image.replace("public", "") : content.image
---
<h1>{ content.title }</h1>
<p>{ content.description }</p>
<div style="padding-top: 56.25%; position: relative; display: grid; margin: 32px -16px">
	<img src={ image } alt="" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%; object-fit: cover; object-position: top;" />
</div>