---
const { content } = Astro.props
---
<h1>{ content.title }</h1>
<p>{ content.description }</p>
<img
	src={ content.image }
	alt={ content.alt }
	style="margin: 32px -16px; width: calc(100% + 32px); max-width: none;"
/>