---
const { props } = Astro.props
const {icon, label, type} = props || false
---
<a class={`
	mdc-button mdc-ripple-upgraded
	${type ? 'mdc-button--' + type : ''}
`}>
  {icon && (
		<i aria-hidden="true" class="mdc-button__icon">{icon}</i>
	)}
  <span class="mdc-button__label">{label}</span>
  <div class="mdc-button__ripple"></div>
</a>

<style lang="scss" global>
	@use "@material/button/styles";

	.mdc-button__icon {
		svg {
			display: block;
			max-width: 100%;
			max-height: 100%;
			fill: currentColor;
		}
	}
</style>