---
const { data } = Astro.props;
---
{ data.lastPage !== 1 &&
	<footer>
		<p style="text-align: center;">
			Showing {data.start + 1} - {data.end + 1} of {data.total}
		</p>
		<div style="display: flex; justify-content: center; align-items: center;">
			{data.currentPage !== 1 && (
				<a
					class="button button--text button--rounded"
					href={data.url.prev || '#'}
				>
					<span class="button__background"></span>
					<span class="button__content">Previous</span>
				</a>
			)}
			{data.currentPage !== data.lastPage && (
				<a
					class="button button--text button--rounded"
					href={data.url.next || '#'}
				>
					<span class="button__background"></span>
					<span class="button__content">Next</span>
				</a>
			)}
		</div>
	</footer>
}