---
const posts = Astro.fetchContent("./*.md")
---
<head>
	<script type="module">
		import appnestMasonryLayout from 'https://cdn.skypack.dev/@appnest/masonry-layout';
	</script>
</head>
	<div class="grid">
		<h1>Posts</h1>
		<masonry-layout>
			{posts.map(post => (
				<div class="card">
					<img 
						src={ post.image.startsWith("public") ? post.image.replace("public", "") : post.image }
						alt={ post.alt }
					/>
					<div class="card__content">
						<div class="text">
							<h2>{ post.title }</h2>
							<p>{ post.description }</p>
						</div>
					</div>
					<div class="card__actions">
						<a href={ post.url } class="button button--text">Read More</a>
					</div>
				</div>
			))}
		</masonry-layout>
	</div>
