:root {
	--background: #fff;
	--on-background: black;
	--primary: #512DA8;
	--on-primary: white;
	--secondary: #512DA8;
	--on-secondary: white;
	--surface: white;
	--on-surface: black;
	--surface-border: #e0e0e0;
	--black: black;
	--on-black: white;
	--white: white;
	--on-white: black;
	--hover-opacity: .05;
	--active-opacity: .1;
}

$breakpoints: (
	'xs': '0px',
	'sm': '480px',
	'md': '768px',
	'lg': '1024px',
	'xl': '1333px',
);