---
import BaseHead from '../components/BaseHead.astro'
import AppBar from '../components/AppBar'
import AppDrawer from '../components/AppDrawer'
import Component from '../components/Component'
import Theme from '../components/Theme'

const { page } = Astro.props
const key = process.env.TOKEN
const cacheBuster = new Date().getMilliseconds()
const {story} = await fetch(`https://api.storyblok.com/v2/cdn/stories/settings?token=${key}&version=draft&cv=${cacheBuster}`)
  .then(response => response.json())
const global = story.content
---
<html lang="en">

  <head>
    <BaseHead global={ global } page={ page }/>
    <style lang="scss" global>
      @import "../css/base.scss";
    </style>
    <Theme global={ global }/>
  </head>

  <body class={ process.env.npm_lifecycle_script }>

    <AppDrawer global={ global }/>
    <AppBar global={ global }/>
    
    <slot/>

    {global.footer.map(content => (
      <Component blok={ content }/>
    ))}

    <!-- Load Images -->
    <script src={Astro.resolve('../js/images.js')}></script>

    <!-- Activate the Drawer -->
    <script type="module" src={Astro.resolve('../js/drawer.js')}></script>

    <!-- Settings Redirect -->
    <script>
      if (window.location.pathname === "/settings") {
        window.location.replace("http://localhost:3000")
      }
    </script>

    <!-- Deferred Crap like Fonts -->
    { global.custom_html }
    
    <script 
      src=“//instant.page/5.1.0”
      type=“module”
      integrity=“sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw”></script>

  </body>

</html>

