---
import BaseHead from '../components/BaseHead.astro';
import AppBar from '../components/AppBar.jsx';

const { content } = Astro.props;
const { title, description } = content || false

const key = "BZX4R4Dr8Y6rnegRb9YaPwtt"
const cacheBuster = new Date().getMilliseconds()
const { story } = await fetch(`https://api.storyblok.com/v2/cdn/stories/settings?token=${key}&cv=${cacheBuster}`)
  .then(response => response.json());
---
<html lang="en">

  <head>
    <BaseHead title={ title } description={ description } />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style lang="scss" global>
      @import "../css/base.scss";
    </style>
  </head>

  <body>

    <AppBar blok={story}/>
    
    <main>
      <slot/>
    </main>
    
  </body>

</html>

