---
import BaseHead from '../components/BaseHead.astro';
import AppBar from '../components/AppBar';
import AppDrawer from '../components/AppDrawer';
import Component from '../components/Component'
import Theme from '../components/Theme'

const { title, description } = Astro.props;
const key = "BZX4R4Dr8Y6rnegRb9YaPwtt"
const cacheBuster = new Date().getMilliseconds()
const dev = process.env.npm_lifecycle_script !== 'astro dev'
const { story } = await fetch(`https://api.storyblok.com/v2/cdn/stories/settings?token=${key}&version=draft&cv=${cacheBuster}`)
  .then(response => response.json());
const global = story.content
---
<html lang="en">

  <head>
    <BaseHead title={ title } description={ description }/>
    <style lang="scss" global>
      @import "../css/base.scss";
    </style>
    <Theme global={ global }/>
  </head>

  <body class={ process.env.npm_lifecycle_script }>

    <AppDrawer global={ global }/>
    <AppBar global={ global }/>
    
    <main>
      <div class="grid">
        <slot/>
      </div>
    </main>

    {global.footer.map(content => (
      <Component blok={ content }/>
    ))}

    <!-- Load Images -->
    <script src={Astro.resolve('../js/images.min.js')}></script>

    <!-- Activate the Drawer -->
    <script type="module" src={Astro.resolve('../js/drawer.min.js')}></script>

    <script>
      if (window.location.pathname === "/settings") {
        window.location.replace("http://localhost:3000")
      }
    </script>

    <!-- Deferred Crap like Fonts -->
    { global.custom_html }

  </body>

</html>

